---

- name: Config | Create Includes and Lib Directories
  file:
    path: "{{ item }}"
    state: directory
    mode: 0775
    owner: "{{ monit_owner }}"
    group: "{{ monit_group }}"
  with_items:
    - "{{ monit_lib_folder }}"
    - "{{ monit_includes }}"
    - "{{ monit_log_dir }}"
    - "{{ monit_alert_defaults }}"

- name: Config | Setup monitrc
  template:
    src: monitrc.j2
    dest: "{{ monitrc_conf }}"
    owner: "{{ monit_owner }}"
    group: "{{ monit_group }}"
    mode: 0700
  #notify:
  #  - "restart macos monit"
  #  - "restart debian monit"

- name: Config | Stat /etc/monitrc
  stat:
    path: "{{ monit_dir }}rc"
  register: _etc_monitrc
  become: true

- name: Config | Create Blank /etc/monitrc File if Nothing Present
  file:
    path: "{{ monit_dir }}rc"
    state: touch
  become: true
  when: not _etc_monitrc.stat.exists

- name: Config | Stat /etc/monitrc
  stat:
    path: "{{ monit_dir }}rc"
  register: _etc_monitrc
  become: true

- name: Config | Remove /etc/monitrc if Not a Link
  file:
    path: "{{ monit_dir }}rc"
    state: absent
  become: true
  when: not _etc_monitrc.stat.islnk
  ignore_errors: yes

- name: Config | Link /etc/monit/monitrc to /etc/monitrc
  file:
    path: "{{ monit_dir }}rc"
    src: "{{ monit_dir }}/monitrc"
    state: link
  become: true
  when: not _etc_monitrc.stat.islnk or not _etc_monitrc.stat.exists
  ignore_errors: yes

- name: Config | Setup Webinterface
  template:
    src: webinterface.j2
    dest: "{{ monit_includes }}/webinterface"
    owner: "{{ monit_owner }}"
    group: "{{ monit_group }}"
    mode: 0660
  #notify:
  #  - "restart macos monit"
  #  - "restart debian monit"

- name: Config | Setup Mail Alerts
  template:
    src: mail.j2
    dest: "{{ monit_includes }}/mail"
    owner: "{{ monit_owner }}"
    group: "{{ monit_group }}"
    mode: 0660
  #notify:
  #  - "restart macos monit"
  #  - "restart debian monit"
  when: monit_mail_enabled | bool

- name: Config | Copy Over Alert Defaults
  copy:
    src: files/{{ item }}
    dest: "{{ monit_alert_defaults }}/{{ item }}"
    owner: "{{ monit_owner }}"
    group: "{{ monit_group }}"
    mode: 0660
  with_items:
    - '3_5_cycles'
    - '5_7_7_10_cycles'
  #notify:
  #  - "restart macos monit"
  #  - "restart debian monit"
