---

- include_vars: debian.yml
  when:  ansible_os_family == "Debian"

- include_vars: redhat.yml
  when: ansible_os_family == "RedHat"

- include_vars: macOS.yml
  when: ansible_os_family == "Darwin"

- name: Create Includes and Lib Directories
  file:
    path: "{{ item }}"
    state: directory
    mode: 0600
    owner: "{{ monit_owner }}"
    group: "{{ monit_group }}"
  with_items:
    - "{{ monit_lib_folder }}"
    - "{{ monit_config_dir }}"
    - "{{ monit_includes }}"

- name: Config | Setup monitrc
  template:
    src: monitrc.j2
    dest: "{{ monitrc_conf }}"
    owner: "{{ monit_owner }}"
    group: "{{ monit_group }}"
    mode: 0700
  notify: restart monit

- name: Config | Setup Webinterface
  template:
    src: webinterface.j2
    dest: "{{ monit_includes }}/webinterface"
    owner: "{{ monit_owner }}"
    group: "{{ monit_group }}"
    mode: 0644
  notify: restart monit

- name: Config | Setup Mail Alerts
  template:
    src: mail.j2
    dest: "{{ monit_includes }}/mail"
    owner: "{{ monit_owner }}"
    group: "{{ monit_group }}"
    mode: 0644
  notify: restart monit
  when: monit_mail_enabled
