---

- name: Config | Create Includes and Lib Directories
  file:
    path: "{{ item }}"
    state: directory
    mode: 0775
    owner: "{{ monit_owner }}"
    group: "{{ monit_group }}"
  with_items:
    - "{{ monit_lib_folder }}"
    - "{{ monit_includes }}"
    - "{{ monit_log_dir }}"
    - "{{ monit_alert_defaults }}"

- name: Config | Config | Setup monitrc
  template:
    src: monitrc.j2
    dest: "{{ monitrc_conf }}"
    owner: "{{ monit_owner }}"
    group: "{{ monit_group }}"
    mode: 0700
  notify: restart monit

- name: Config | Stat /etc/monitrc
  stat:
    path: /etc/monitrc
  register: _etc_monitrc
  become: true

- name: Config | Remove /etc/monitrc if Not a Link
  file:
    path: /etc/monitrc
    state: absent
  become: true
  when: not _etc_monitrc.stat.islnk
  ignore_errors: yes

- name: Config | Link /etc/monit/monitrc to /etc/monitrc
  file:
    path: /etc/monitrc
    src: /etc/monit/monitrc
    state: link
  become: true
  when: not _etc_monitrc.stat.islnk or not _etc_monitrc.stat.exists
  ignore_errors: yes

- name: Config | Config | Setup Webinterface
  template:
    src: webinterface.j2
    dest: "{{ monit_includes }}/webinterface"
    owner: "{{ monit_owner }}"
    group: "{{ monit_group }}"
    mode: 0660
  notify: restart monit

- name: Config | Config | Setup Mail Alerts
  template:
    src: mail.j2
    dest: "{{ monit_includes }}/mail"
    owner: "{{ monit_owner }}"
    group: "{{ monit_group }}"
    mode: 0660
  notify: restart monit
  when: monit_mail_enabled

- name: Config | Config | Copy Over Alert Defaults
  copy:
    src: files/{{ item }}
    dest: "{{ monit_alert_defaults }}/{{ item }}"
    owner: "{{ monit_owner }}"
    group: "{{ monit_group }}"
    mode: 0660
  with_items:
    - '3_5_cycles'
    - '5_7_7_10_cycles'
  notify: restart monit
