[Unit]
Description=Pro-active monitoring utility for unix systems
After=network.target

[Service]
Type=simple
KillMode=process
ExecStart={{ _monit_executable }} -I -c {{ monit_monitrc_file }}
ExecStop={{ _monit_executable }} -c {{ monit_monitrc_file }} quit
ExecReload={{ _monit_executable }} -c {{ monit_monitrc_file }} reload
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
