{
  "monit_configured_services": [
  {% if monit_services is defined %}
  {% for service in monit_services %}
    "{{ service.name }}",
  {% endfor %}
  {% endif %}
  {% if parent_monit_services is defined %}
  {% for service in parent_monit_services %}
    "{{ service.name }}",
  {% endfor %}
  {% endif %}
  {% if monit_2nd_services is defined %}
  {% for service in monit_2nd_services %}
    "{{ service.name }}",
  {% endfor %}
  {% endif %}
  {% if monit_mail_enabled %}
    "mail",
  {% endif %}
    "webinterface"
  ]
}
